<h1>Edit Customer</h1>

<form (ngSubmit)="submitForm()" #customerForm="ngForm" *ngIf="customer">
    <div class="form-group mb-3">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="customer.customerName" required class="form-control" #name="ngModel">
        <div *ngIf="name.errors?.required && (name.dirty || name.touched)" class="text-danger">
            <div *ngIf="name.errors?.required">
                Name is required.
            </div>
        </div>
    </div>
    <div class="form-group mb-3">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="customer.customerEmail" required class="form-control" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" #email="ngModel">
        <div *ngIf="email.errors?.required && (email.dirty || email.touched)" class="text-danger">
            Email is required.
        </div>
        <div *ngIf="email.errors?.pattern && (email.dirty || email.touched)" class="text-danger">
            Please enter a valid email address.
        </div>
    </div>
    <div class="form-group mb-3">
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="customer.customerPhoneNumber" required pattern="\+601[0-9]{8,9}" class="form-control" #phone="ngModel" maxlength="13">
        <div *ngIf="phone.errors?.required && (phone.dirty || phone.touched)" class="text-danger">
            <div *ngIf="phone.errors?.required">
                Phone number is required.
            </div>
        </div>
        <div *ngIf="phone.errors?.pattern && (phone.dirty || phone.touched)" class="text-danger">
            Please enter a valid Malaysian phone number with the format +601XXXXXXXX or +6011XXXXXXXXX.
        </div>
    </div>
    <div class="form-group mb-3">
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" [(ngModel)]="customer.customerGender" required class="form-control" #gender="ngModel">
            <option [value]="1">Male</option>
            <option [value]="2">Female</option>
        </select>
        <div *ngIf="gender.errors?.required && (gender.dirty || gender.touched)" class="text-danger">
            <div *ngIf="gender.errors?.required">
                Gender is required.
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="customerForm.invalid">Save</button>
</form>
